<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pets</key>
	<array>
		<dict>
			<key>image</key>
			<string>nachalo-cikla</string>
			<key>name-ru</key>
			<string>Цикл деген не?</string>
			<key>name-kz</key>
			<string>Что такое цикл?</string>
			<key>description-ru</key>
			<string></string>
			<key>description-kz</key>
			<string>Менструальный цикл- Цикл начинается с первого дня месячных до первого дня следующих. Обычно цикл длится 28 дней. </string>
		</dict>
		<dict>
			<key>image</key>
			<string>nachalo-image</string>
			<key>name-ru</key>
			<string>Менструальді циклдің бастамасы</string>
			<key>name-kz</key>
			<string>Начало цикла</string>
			<key>description-ru</key>
			<string>Бірінші күндері сен өз көңіл-күйіңнің босауын байқауың, тіпті ұсақ себептерден ренжінгіш болуың мүмкін.  Белің ауырып, ішінің астында ауырлық сезім пайда бола алады. Осы белгілерді сезіне бастасаң, пайдалы кеңестер айдарын тексер</string>
			<key>description-kz</key>
			<string>Менструальный Цикл -                                                                              это время от первого дня месячных до первого дня следующих месячных.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>seredina-image</string>
			<key>name-ru</key>
			<string>Циклдің ортасы</string>
			<key>name-kz</key>
			<string>Середина цикла</string>
			<key>description-ru</key>
			<string>Сенің  қалпың: Етеккір келуінің бірінші күнінен соң сенде овуляция кезеңі басталады. Овуляция дегенің, жүкті болу мүмкіндігінің жоғары ықтималдығы. Контрацепция (жүкті болып қалудан сақтау құралдары) жайлы ұмытпа.  Мысалы, егер сенде етеккір 4-мамырда басталып, 8-9ына қарай аяқталса, овуляциялық күн шамамен 18-і басталады. Әрбір қыз-келіншекте күн ағза ерекшеліктеріне байланысты өзгере алады. Толығырақ ақпарат алу үшін осында бас. </string>
			<key>description-kz</key>
			<string>Середина Цикла -                                                                                   Около двух недель после первого дня месячных у тебя наступает овуляция, что означает самый высокий шанс забеременеть. Не забудь о контрацепции, если ведешь половую жизнь (исключение- если хочешь забеременеть, то не стоит принимать или использовать контрацепцию).Сенің  қалпың: Етеккір келуінің бірінші күнінен соң сенде овуляция кезеңі басталады. Овуляция дегенің, жүкті болу мүмкіндігінің жоғары ықтималдығы. Контрацепция (жүкті болып қалудан сақтау құралдары) жайлы ұмытпа.  Мысалы, егер сенде етеккір 4-мамырда басталып, 8-9ына қарай аяқталса, овуляциялық күн шамамен 18-і басталады. Әрбір қыз-келіншекте күн ағза ерекшеліктеріне байланысты өзгере алады. Толығырақ ақпарат алу үшін осында бас. </string>
		</dict>
		<dict>
			<key>image</key>
			<string>konec-image</string>
			<key>name-ru</key>
			<string>Циклдің соңы</string>
			<key>name-kz</key>
			<string>Конец цикла</string>
			<key>description-ru</key>
			<string>Сенің қалпың: Егер жүктілік болмаса, кезекті менструация басталады</string>
			<key>description-kz</key>
			<string>Конец циклa -                                                                                         Твое состояние: Если у тебя не было оплдотворения , то у тебя должны прийти месячные. Но могут опаздать</string>
		</dict>
		<dict>
			<key>image</key>
			<string>fertile-calenda</string>
			<key>name-ru</key>
			<string>құнарлы күн</string>
			<key>name-kz</key>
			<string>Фертильные дни</string>
			<key>description-ru</key>
			<string>ҚҰНАРЛЫ КҮН - Бұл әйел денесінің ұрықтандыру үшін барынша дайын кезеңіФертильные дни -                                                                                 время, когда шанс забеременеть возрастает.</string>
			<key>description-kz</key>
			<string>Фертильные дни -                                                                                 время, когда шанс забеременеть возрастает.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>овуляция</string>
			<key>name-ru</key>
			<string>Овуляция деген не?</string>
			<key>name-kz</key>
			<string>Что такое Овуляция?</string>
			<key>description-ru</key>
			<string>ОВУЛЯЦИЯ ДЕГЕН НЕ? Сенің  қалпың: Етеккір келуінің бірінші күнінен соң сенде овуляция кезеңі басталады. Овуляция дегенің, жүкті болу мүмкіндігінің жоғары ықтималдығы. Контрацепция (жүкті болып қалудан сақтау құралдары) жайлы ұмытпа.  Мысалы, егер сенде етеккір 4-мамырда басталып, 8-9ына қарай аяқталса, овуляциялық күн шамамен 18-і басталады. Әрбір қыз-келіншекте күн ағза ерекшеліктеріне байланысты өзгере алады. Овуляция кезеңінде қынаптан шығатын бөлінулер қоюланып, көбіне ақ, бірақ кей кездерде сарылау және қызғылт реңді болуы мүмкін</string>
			<key>description-kz</key>
			<string>Овуляция -                                                                                             это день, когда твоя яйцеклетка готова к оплодотворению, то есть самый высокий шанс забеременеть. Если у тебя начались месячные 4 мая и закончились к 8-9 мая, значит овуляционный день предположительно наступит 18 мая(-+2 дня). У каждой девушки день может меняться в зависимости от продолжительности цикла. Во время овуляции выделения из влагалища становятся более густыми и слизистыми, в основном имеют светло-желтый или светло-розовый оттенки. 
Овуляция -                                                                                             это день, когда твоя яйцеклетка готова к оплодотворению, то есть самый высокий шанс забеременеть. Если у тебя начались месячные 4 мая и закончились к 8-9 мая, значит овуляционный день предположительно наступит 18 мая(-+2 дня). У каждой девушки день может меняться в зависимости от продолжительности цикла. Во время овуляции выделения из влагалища становятся более густыми и слизистыми, в основном имеют светло-желтый или светло-розовый оттенки. 
</string>
		</dict>
		<dict>
			<key>image</key>
			<string>овуляция</string>
			<key>name-ru</key>
			<string>Овуляцияны қалай есептеуге болады?</string>
			<key>name-kz</key>
			<string>Как рассчитать овуляцию?</string>
			<key>description-ru</key>
			<string>Овуляцияны қалай есептеуге болады? Егер цикл 29 күн болса, овуляция күні сіздің етеккір кезеңінің басынан бастап 15-ші күні құлайды. Бұл овуляция дәл сіздің цикл ортасында түсіп тұр.</string>
			<key>description-kz</key>
			<string>Если твой цикл длится 29 дней, то овуляционный день попадает на 15ый день от начала твоей менструации. То есть овуляция попадает ровно на середину твоего цикла.</string>
		</dict>
		<dict>
			<key>image</key>
			<string>овуляция</string>
			<key>name-kz</key>
			<string>Когда шансы забеременеть повышаются?</string>
			<key>name-ru</key>
			<string>Қай уақытта жүкті болу мүмкіндігім артады?</string>
			<key>description-kz</key>
			<string>Шансы забеременеть повышаются после двух недель с первого дня месячных. Например, если у тебя месячные начались 3 мая, то самый высокий шанс будет 17 мая (± 2-3 дня)</string>
			<key>description-ru</key>
			<string>Қай уақытта жүкті болу мүмкіндігім артады? Жүкті болудың жоғары мүмкіндігі етеккір келуінің 1-күнінен 2 апта өткен соң болады.  Егер сенің етеккірің 3-мамырда басталса,  жүкті болудың ең жоғары мүмкіндігі – 17 мамыр (± 2-3 күн)</string>
		</dict>
	</array>
	<key>Advises</key>
	<array>
		<dict>
			<key>image</key>
			<string></string>
			<key>name-ru</key>
			<string></string>
			<key>name-kz</key>
			<string></string>
			<key>description-ru</key>
			<string>Кем дегенде 8 шыны жылы немесе ыстық су іш</string>
			<key>description-kz</key>
			<string>Пей как минимум 8 стаканов теплой или горячей воды в день</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>name-ru</key>
			<string></string>
			<key>name-kz</key>
			<string></string>
			<key>description-ru</key>
			<string>Сүт тағамдары мен құрамында кальций көп  шпинат секілді жасыл тағамдарды көбірек жесең, ауырлық сезімі азаяды</string>
			<key>description-kz</key>
			<string>Молочные продукты и зелень, такие как шпинат, содержат кальций, который уменьшает боли во время менструации</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>name-ru</key>
			<string></string>
			<key>name-kz</key>
			<string></string>
			<key>description-ru</key>
			<string>Іш асты тартып ауырғанда ыстық орамал немесе ыстық суға толған сауытты («грелка») үстіне сал</string>
			<key>description-kz</key>
			<string>Положи грелку или горячее полотенце, когда тянет низ живота</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>name-ru</key>
			<string></string>
			<key>name-kz</key>
			<string></string>
			<key>description-ru</key>
			<string>Зиян тамақты ішпеуге тырыс. Тіпті өте қаласаң да фри картобы, гамбургерлер,тәтті тағамдардан бас тарт, өйткені олар  іштің кебуі мен ісінуін күшейтеді</string>
			<key>description-kz</key>
			<string>Старайся не есть вредную еду и не пить кофе/алкоголь, а также не советуется есть соленую и острую пищу, так как всё это усиливает вздутие живота и могут начаться отеки. </string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>name-ru</key>
			<string></string>
			<key>name-kz</key>
			<string></string>
			<key>description-ru</key>
			<string>Кешке қабылданған  түймедақ немесе кез-келген жалбыз қосылған шай тынышталдырадыРомашковый или мятные чаи успокаивают и можете выпить их вечером, что хорошо отразится на самочувствии</string>
			<key>description-kz</key>
			<string>Ромашковый или мятные чаи успокаивают и можете выпить их вечером, что хорошо отразится на самочувствии</string>
		</dict>
		<dict>
			<key>image</key>
			<string></string>
			<key>name-ru</key>
			<string></string>
			<key>name-kz</key>
			<string></string>
			<key>description-kz</key>
			<string>Поделай легкую зарядку или растяжку</string>
			<key>description-ru</key>
			<string>Жеңіл жаттығуларды жасап көр</string>
		</dict>
	</array>
</dict>
</plist>
